{% extends "base.html" %} {% block title %}Result{% endblock %} 

{% block content%}
  <input type="text" id="searchInput" onkeyup="searchCollege()" placeholder="College">
  <button type="button" onclick="searchCollege()">Search</button>
  <!-- <input type="text" id="searchInput" onkeyup="searchSy()" placeholder="School Year">
  <input type="text" id="searchInput" onkeyup="searchSem()" placeholder="Semester"> -->
  
  <!-- <label for="cars">College Filter</label>
  <select name="cars" id="searchInput" onkeyup="searchTable()">
    <option value=""></option>
    <option value="CICS">CICS</option>
    <option value="CABEIHM">CABEIHM</option>
    <option value="CIT">CIT</option>
    <option value="CAS">CAS</option>
  </select>
  <button type="button" onclick="searchTable()">Search</button> -->

  <!-- {% set seenList = [] %}

  <label for="cars">College Filter</label>
  <select name="cars" id="searchInput" onkeyup="searchTable()">
    <option value=""></option>
    {% for rec in records %}
      {% if rec.college not in seenList %}
        <option value="{{rec.college}}">{{rec.college}}</option>
        {% set seenList = seenList + [rec.college] %}
      {% endif %}
    {% endfor %}
  </select>
  <button type="button" onclick="searchTable()">Search</button> -->

  <table class="table" id="myTable">
    <thead>      
      <tr>
        <th>#</th>
        <th style="width: 1%;">Faculty Name</th>
        <th style="width: 1%;">Campus</th>
        <th style="width: 1%;">College</th>
        <th style="width: 100%;">Course</th>
        <th style="width: 1%;">Class</th>
        <th style="width: 100%;">School Year</th>
        <th style="width: 100%;">Semester</th>
        <th style="width: 100%;">Students</th>
        <th style="width: 1%;">A</th>
        <th style="width: 1%;">B</th>
        <th style="width: 1%;">C</th>
        <th style="width: 1%;">D</th>
        <th style="width: 1%;">APS</th>
        <th style="width: 100%;">Comments</th>
        <th>Sentiment</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for rec in records | reverse %}
      <tr style="border-top: solid black 5px ;">
        <th scope="row"> 
          {{ rec.id }}
        </th>
  
        <td>
          {{ rec.facultyName }}
        </td>
  
        <td> 
          {{ rec.campus }}
        </td>
  
        <td> 
          {{ rec.college }}
        </td>
  
        <td> 
          {{ rec.course }}
        </td>
  
        <td> 
          {{ rec.facultyClass }}
        </td>
  
        <td> 
          {{ rec.schoolYear }}
        </td>
  
        <td> 
          {{ rec.semester }}
        </td>
  
        <td> 
          {{ rec.studentsAnswered }}
        </td>
  
        <td> 
          {{ rec.catA }}
        </td>
  
        <td> 
          {{ rec.catB }}
        </td>
  
        <td> 
          {{ rec.catC }}
        </td>
  
        <td> 
          {{ rec.catD }}
        </td>
  
        <td> 
          {{ rec.APS }}
        </td>
  
        <td> 
          <div style="max-height: 100px; overflow-x: hidden; overflow-y: auto;">
            {{ rec.comments }}
          </div>
        </td>
  
        <td> 
          {{ rec.senAnalysis }}
        </td>
  
        <td> 
          {{ rec.result }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  

  <script>
    function searchCollege() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2]; // Change the index to match the column you want to search
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
    }
    
    function searchSy() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5]; // Change the index to match the column you want to search
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
    } searchSy();
    
    function searchSem() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6]; // Change the index to match the column you want to search
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
    }
  </script>

{% endblock %}